
div a{
text-decoration: none;
color: #f0f0f0;
}

div a:hover{
color: #ffc800;
}

body{
display: inline-grid;
grid-auto-flow: row;
position: relative;
background-color: #101010;
}

#info{
white-space: pre;
height: auto;
font-size: 1.6em;
text-align: center;
}

#bookmarks{
display: inline-grid;
grid-auto-flow: column;
grid-template-columns: 25% 25% 25% 25%;
width: 98.5vw;
}

.column {
display: inline-grid;
grid-auto-flow: row;
grid-row-gap: 1vh;
grid-auto-rows: min-content;
}

.zone {
border-style: none;
border-radius: 1vw;
width: 24vw;
height: auto;
min-height: 12em;
font-family: Rajdhani,Play,serif;
font-size: 1.2vw;
line-height: 1.6;
background-color: #404040;
color:  #0f0f0f;
}

#popup_new_entry{
display: grid;
border-radius: 1vw;
grid-auto-flow: row;
position: absolute;
width: 32vw;
height: 50vh;
transform: translate(100%, 34%);
background-color: #808080;
visibility: hidden;
}

#popup_buttons{
display: grid;
grid-auto-flow: column;
}

#new_entry{
display: grid;
align-items: end;
color: white;
}

.textEntry{
margin-top: auto;
margin-bottom: auto;
margin-right: auto;
margin-left: 2vw;
height: fit-content;
resize: none;
}

.button{
text-align: center;
width: 6vw;
height: 2vh;
font-size: 0.85vw;
margin: auto;
cursor: pointer;
}

.button:hover{
font-size: 1.15vw;
}

.button:active{
font-size: 1.25vw;
}

.zone:empty {
visibility:hidden
}

body::-webkit-scrollbar {
display: none;
}
